<footer class="footer">

	<hr />
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<ul class="contact-list">
					<li><a href="/">> Home</a></li>
					<li><a href="/impressum">> Impressum</a></li>
				</ul>
			</div>
			<div class="col-lg-6 text-lg-right">
				<div class="biegenbacher11">
					Paso Libre ist eine Abteilung des Faschingsvereins Biegenbacher 11<br />
					Geldersheim, Landkreis Schweinfurt<br /> <a
						href="http://biegenbacher11.de"> <img alt="Biegenbacher 11"
						src="img/bb11logo2.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
