body {
	background-color: $background-color;
	color: $text-color;
}

a {

	color: $brand-color;
	text-decoration: underline;

	&:visited {
		color: darken($brand-color, 15%);
	}

	&:hover {
		color: $text-color;
		text-decoration: underline;
	}
}



footer {
	
	margin-top: 5em;
	margin-bottom: 2em;
	
	hr {
		background-color:gray;
	}

	.navigation-list {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		
		a {
			text-decoration: none;
		}
	}

	.biegenbacher11 {
		img {
			width: 50%;
		}
	}
}