.index {

	.cover {
		margin-top: 5em;
		margin-bottom: 5em;
		text-align: center;
		
		img {
			width: 100%
		}
	}
	
	.contact {
		img {
			width: 15em;
			margin-top: .5em;
		}
	}
	
	.row div {
		margin-bottom: 3em;
	}
}

